/part02-Part02_17.SumOfASequence/target/
/part02-Part02_18.SumOfASequenceTheSequel/target/
/part02-Part02_19.Factorial/target/
/part02-Part02_20.RepeatingBreakingAndRemembering/target/
/part02-Part02_21.InAHoleInTheGround/target/
/part02-Part02_22.Reprint/target/
/part02-Part02_23.FromOneToParameter/target/
/part02-Part02_24.FromParameterToOne/target/
/part02-Part02_25.Division/target/
/part02-Part02_26.DivisibleByThree/target/
/part02-Part02_27.NumberUno/target/
/part02-Part02_28.Word/target/
/part02-Part02_29.Summation/target/
/part02-Part02_30.Smallest/target/
/part02-Part02_31.Greatest/target/
/part02-Part02_32.Averaging/target/
/part02-Part02_33.StarSign/target/
/part03-Part03_01.ThirdElement/target/
/part03-Part03_02.SecondPlusThird/target/
/part03-Part03_03.IndexOutOfBoundsException/target/
/part03-Part03_04.ListSize/target/
